<strong>Olá, {{ organizer }}</strong>
<p>Seu meetup recebeu uma nova inscrição. Confira os detalhes abaixo:</p>
<p>
  <strong>Evento: </strong> {{ meetup }} <br />
  <strong>Inscrição: </strong> {{ user }}
</p>
